.titulo{
    display: flex;
    align-items: center;
    margin: 8vh 5vw;
}

.titulo h2 {
    font-size: 4vw;
    font-family: var(--titulo), Serif, serif;
    margin-left: 2vw;
}

.titulo img {
    width: 5%;
}

.texto-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10vw 0 10vw;
}

.texto-imagem p {
    text-align: right;
    margin-right: 3vw;
    font-family: var(--corpo), monospace;
    font-size: 1.4vw;
}

.texto-imagem img {
    width: 100%;
    max-width: 30%;
    border-radius: 20px;
}

.imagem-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vw;
}

.imagem-texto p {
    text-align: left;
    margin-left: 3vw;
    font-family: var(--corpo), monospace;
    font-size: 1.4vw;
;
}

.imagem-texto img {
    width: 35%;
    border-radius: 20px;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding: 10vw;
}

.texto p {
    font-family: var(--corpo), monospace;
    font-size: 1.4vw;
    color: var(--cor-fundo);
    text-align: center;
}

.imagem {
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.imagem img {
    width: 35%;
}